@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background: #111;
}

header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: url(images/alvord3.jpg) no-repeat center;
    background-size: cover;
    overflow-x: hidden;
}

header h1 {
    text-align: center;
    font-size: 7em;
    /* color: #000; */
    text-shadow: 0 1px 1px #888;
    color: #fff;
    font-family: 'Source Code Pro', monospace;
}

header h1 span {
    font-size: 0.5em;
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

header button {
    padding: 10px 25px;
    border: 2px solid white;
    border-radius: 25px;
    font-size: 1.5em;
    background: none;
    color: #fff;
    transition: background-color 0.2s;
    cursor: pointer;
    margin: 10px;
}

header button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

header p {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
    color: #ccc;
    font-family: 'Open Sans', sans-serif;
}

header p a {
    color: #eee;
}

.scrollbtn {
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: #fff;
    border: none;
    border-radius: 50%;
}

main {
    background: #f1f1f1;
    padding: 50px;
}

main div {
    width: 70%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

main div p {
    font-size: 1.5em;
}

main div h1 {
    margin-bottom: 15px;
}

main div details {
    margin-bottom: -25px;
}

main div details .images {
    margin: 15px 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 15px;
}

main div details .images img {
    max-width: 100%;
    height: auto;
}

main div details iframe {
    width: 100%;
    height: 500px;
}

main details div.artists iframe {
    width: 100%;
    height: 250px;
}

main details div.artists {
    font-size: 0.9em;
    width: 100%;
    margin: 15px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 25px;
}

main details div.artists div {
    width: 100%;
}

main details div.artists div p span {
    white-space: nowrap;
}

img.icon {
    width: 24px;
    height: 24px;
    border-radius: 0;
    position: relative;
    top: 10px;
    margin: 3px;
}

main div table {
    width: 100%;
    margin: 25px 0;
    border-spacing: 0;
}

main div table td {
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
    border: 1px solid #ccc;
}

main div table th {
    padding: 10px;
}

main div details {
    padding: 25px 0;
}

main div details summary {
    font-size: 1.5em;
    padding: 10px 0;
}

main div details p {
    font-size: 1.2em;
}

main div details p label {
    line-height: 1.5em;
    text-indent: -10px;
}

main div details p label input {
    margin: 0 15px;
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

main div details button {
    display: inline-block;
    padding: 8px 15px;
    border: 1px solid blue;
    background: #fff;
    color: blue;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 3px;
}

main div details button:hover, main div details button:active {
    background-color: rgba(0, 0, 255, 0.3);
}

main div section {
    padding: 25px 0;
}

input[type=text] {
    display: inline-block;
    padding: 8px 15px;
    margin: 5px 3px;
    box-sizing: border-box;
    border: 2px solid blue;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    font-size: 1em;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}

.survey {
    padding: 0 25px;
}

.survey .question {
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    margin: 25px 0;
    font-size: 1.2em;
}

.question button {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid blue;
    background: #fff;
    color: blue;
    cursor: pointer;
    font-size: 1.1em;
    margin-left: -1px;
}

.question button:hover, .question button:active {
    background-color: rgba(0, 0, 255, 0.3);
}

.question button:nth-child(2) {
    margin-left: 0;
    border-radius: 5px 0 0 5px;
}

.question button:last-child {
    border-radius: 0 5px 5px 0;
    margin-left: -2px;
}

.hidden {
    display: none;
}

footer {
    background: #000;
    padding: 25px 50px;
}

footer p {
    color: #fff;
}

footer p a {
    color: #fff;
}

@media screen and (max-width: 1000px) {
    header h1 {
        font-size: 5em;
        text-align: center;
    }
    header h1 span {
        font-size: 0.5em;
    }
    header p {
        width: 80%;
        font-size: 1.2em;
    }
    header button {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 750px) {
    header h1 {
        font-size: 4em;
        text-align: center;
    }
    header h1 span {
        display: block;
    }
    header p {
        width: 80%;
        /* text-align: left; */
    }
    header div {
        width: 80%;
        flex-direction: column;
    }
    header button {
        width: 100%;
    }
    main {
        padding: 25px;
    }
    main div {
        width: 100%;
    }
    main div details {
        padding: 0;
        margin-bottom: 10px;
    }
    main div details button {
        width: 100%;
        margin: 5px 0;
    }
    main div details .images {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    main div details iframe {
        height: 400px;
        margin: 15px 0;
    }
    main div section {
        padding: 15px 0;
    }
    footer {
        padding: 25px;
    }
}